# Gradle
.externalNativeBuild/
.gradle/
.idea/
LatinIME.iml
build/
local.properties
crashreporting.properties
keystore.properties
key.jks
latinime/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
.kotlin/
